body {
  background-color: #f7dbf0;
  text-align: center;
  position: relative;
}
h2 {
  color: #3cb0fd;
}
button {
  position: absolute;
  top: 390px;
  right: 545px;
  background: #beaee2;
  background-image: -webkit-linear-gradient(top, #beaee2, #beaee2);
  background-image: -moz-linear-gradient(top, #beaee2, #beaee2);
  background-image: -ms-linear-gradient(top, #beaee2, #beaee2);
  background-image: -o-linear-gradient(top, #beaee2, #beaee2);
  background-image: linear-gradient(to bottom, #beaee2, #beaee2);
  -webkit-border-radius: 41;
  -moz-border-radius: 41;
  border-radius: 41px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
